{% extends 'base.html' %}

{% block content %}

<h1>Create Ticket</h1>

<form action="{% url 'create_ticket' %}" method="post">

    {% csrf_token %}
    <!-- title -->
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" id="title" aria-describedby="">
    </div>
    <!-- end title -->

    <!-- description -->
    <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <input type="text" class="form-control" name="description" id="description" aria-describedby="">
    </div>
    <!-- end description -->

    <!-- category -->
    <div class="mb-3">
        <label for="category_id" class="form-label">category</label>
        <select name="category_id" id="category_id" class="form-select">
            <option value="">Select Category</option>
            
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <!-- end category -->

    <!-- department -->
    <div class="mb-3">
        <label for="department_id" class="form-label">department</label>
        <select name="department_id" id="department_id" class="form-select">
            <option value="">Select department</option>
            
            {% for department in departments %}
                <option value="{{ department.id }}">{{ department.name }}</option>
            {% endfor %}
        </select>
    </div>
    <!-- end department -->

    <div>
        <button type="submit" class="btn btn-primary">Create Ticket</button>
    </div>
    

</form>

{% endblock %}