{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}

<a href="{% url 'create_ticket' %}" class="btn btn-primary">New Ticket</a>

<h1>Ticket List</h1>

{% include 'includes/alert.html' %}

<!-- filter -->
<div class="mb-3">

    <form action="{% url 'index_ticket' %}" method="GET">

        <div class="mb-3">
            <label for="">Title</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Search by title" value="{{ request.GET.title|default:'' }}">
        </div>

        <!-- category -->
        <div class="mb-3">
            <label for="category_id" class="form-label">category</label>
            <select name="category_id" id="category_id" class="form-select">
                <option value="">Select Category</option>
                
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if request.GET.category_id|stringformat:"s" == category.id|stringformat:"s" %}selected{% endif %} >{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- end category -->

        <!-- department -->
        <div class="mb-3">
            <label for="department_id" class="form-label">department</label>
            <select name="department_id" id="department_id" class="form-select">
                <option value="">Select department</option>
                
                {% for department in departments %}
                    <option value="{{ department.id }}" {% if request.GET.department_id|stringformat:"s" == department.id|stringformat:"s" %}selected{% endif %} >{{ department.name }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- end department -->

        <div>
            <button type="submit" class="btn btn-secondary">Search</button>
        </div>

    </form>

    
</div>
<!-- end filter -->

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">User</th>
            <th scope="col">Category</th>
            <th scope="col">Department</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in page_obj %}
        <tr>
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.status|format_ticket_status }}</td>
            <td>{{ ticket.user.username }}</td>
            <td>{{ ticket.category.name }}</td>
            <td>{{ ticket.department.name }}</td>
            <td>

                {% if perms.tickets.view_ticket %}
                <a href="{% url 'show_ticket' ticket_id=ticket.id %}" class="btn btn-info">View Ticket</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {% include 'includes/paginate.html' %}

</table>


{% endblock %}